<html lang="en">

<head>
    <meta charset="utf-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/my.js"></script>
    <title>博客列表</title>
</head>

<body>
<div align="center" style="display: block; width: 50%; margin: auto;">
        <span id="list">
            <table>
                <tr>
                    <td align="center">博客列表</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                {{range .}} <!--这是go template中的语法，这个.就是后端传过来的blogs结构体切片，range就是遍历该结构体切片取到每个具体的博客结构体-->
                <tr>
                    <td style="padding-top: 10;"><a href="/blog/{{.ID}}">{{.Title}}</a></td>
                    <!--.ID和.Title表示取到该结构体中具体的值-->
                </tr>
                {{end}}
            </table>
        </span>
</div>
</body>